<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <h1>Mi App</h1>
    <div class="container">
        <div id="wrapper">
            <p id="bold">Create an account</p>
        </div>
        <div id="entering"><p id="action">Enter your email to sign up for this app</p></div>
        <div id="email"><input type="email" placeholder="email@domain.com"></div>
        <div id="button"><button id="signup">Sign up with email</button></div>
        <div><p>-----------------------or continue with -------------------------</p></div>
        <div id="finalstep"><a href="https://accounts.google.com" class="boton">Google</a></div>

    <footer id="end">
        <p>By clicking continue, you agree to our <b>Terms of Service</b> and <b>Privacy & Policy</b></p>
    </footer>
</div>
</body>
</html>